//
//  Base.xcconfig
//  Odeon
//
//  Created by Allen Whearry on 5/7/19.
//  Copyright © 2019 Allen Whearry. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// ODEON QUOTES
QUOTES_URL = https:\/\/quiet-sierra-58217.herokuapp.com/api/quotes/
QOTD_URL = https:\/\/quiet-sierra-58217.herokuapp.com/api/quotes/qotd
CATEGORIES_URL = https:\/\/quiet-sierra-58217.herokuapp.com/api/categories/

// UNSPLASH
UNSPLASH_ACESS_KEY = 7bc481fffb84e281713aa09ae955ee899d7a079752d10af43d05205f1bd8f545
UNSPLASH_SECRET_KEY = 771b76ea00400e34bc2fcd92ebcbb5f41ebd24cfdbf6e2e10ccc2f40cf39e0a5

// OMDB
OMDB_API_KEY = aec69f1e

// ADMOB
ADMOB_APP_ID = ca-app-pub-9537695112430141~8331033971
ADMOB_TEST_DEVICE = d61a2f834f47d41f5beceaa02715e221
CATEGORY_BANNER_AD_UNIT_ID = ca-app-pub-3940256099942544/2934735716
INTERSTITIAL_AD_UNIT_ID = ca-app-pub-3940256099942544/4411468910
