<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ADMOB_TEST_DEVICE</key>
	<string>$(ADMOB_TEST_DEVICE)</string>
	<key>CATEGORIES_URL</key>
	<string>$(CATEGORIES_URL)</string>
	<key>CATEGORY_BANNER_AD_UNIT_ID</key>
	<string>$(CATEGORY_BANNER_AD_UNIT_ID)</string>
	<key>BOOKMARK_BANNER_AD_UNIT_ID</key>
	<string>$(BOOKMARK_BANNER_AD_UNIT_ID)</string>
	<key>DISCOVER_BANNER_AD_UNIT_ID</key>
	<string>$(DISCOVER_BANNER_AD_UNIT_ID)</string>
	<key>QUOTELIST_BANNER_AD_UNIT_ID</key>
	<string>$(QUOTELIST_BANNER_AD_UNIT_ID)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(OQ_APP_NAME)</string>
	<key>CFBundleDisplayName</key>
	<string>$(OQ_APP_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(OQ_APP_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>8</string>
	<key>GADApplicationIdentifier</key>
	<string>$(ADMOB_APP_ID)</string>
	<key>INTERSTITIAL_AD_UNIT_ID</key>
	<string>$(INTERSTITIAL_AD_UNIT_ID)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>instagram</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
	</dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app will access your photos to use as quote background images.</string>
	<key>OMDB_API_KEY</key>
	<string>$(OMDB_API_KEY)</string>
	<key>QOTD_URL</key>
	<string>$(QOTD_URL)</string>
	<key>QUOTES_URL</key>
	<string>$(QUOTES_URL)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Animosa-Bold.otf</string>
		<string>Animosa-Regular.otf</string>
		<string>Animosa-ExtraBold.otf</string>
		<string>Jofi.otf</string>
		<string>Welcome 2019.otf</string>
		<string>JosefinSans-Bold.ttf</string>
		<string>JosefinSans-Regular.ttf</string>
		<string>PressStart2P-Regular.ttf</string>
		<string>DancingScript-Bold.ttf</string>
		<string>DancingScript-Regular.ttf</string>
		<string>Bangers-Regular.ttf</string>
		<string>FrederickatheGreat-Regular.ttf</string>
		<string>Monoton-Regular.ttf</string>
		<string>Righteous-Regular.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UNSPLASH_ACESS_KEY</key>
	<string>$(UNSPLASH_ACESS_KEY)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UNSPLASH_SECRET_KEY</key>
	<string>$(UNSPLASH_SECRET_KEY)</string>
</dict>
</plist>
